Source: ubnt-zabbix-npserver-settings
Section: misc
Priority: optional
Maintainer: _soft@netping.tw
Version: 2.2-1

Package: ubnt-zabbix-npserver-settings
Architecture: all
Depends: network-manager
Build-Depends: debhelper-compat
Description: NetPing
 UBNT-zabbix-npserver-settings.
