#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.

export DH_VERBOSE=1
export DH_OPTIONS=-v

DESTDIR=debian/ubnt-zabbix-npserver-settings

%:
	dh $@

override_dh_auto_install:
	mkdir -p $(DESTDIR)
	cp -r usr/ $(DESTDIR)/usr/
